.link {
    color: rgb(29, 28, 28);
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.active {
    color: rgb(239, 184, 4);
    text-decoration: underline;
}